body{
    /*Image get from: http://wallpaper-gallery.net/wallpapers/hd-football-wallpapers.html*/
    /*background-image: url("../img/bg1.jpg");*/
    background-color: lightblue;
    background-size: cover;
}

.navbar-inverse{
    background-color: #ff3f19;
    border-bottom: solid 1px black;
    color: #000000;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000;
    font-weight: bold;
}

.login {
    float: right;
}

@media (max-width: 768px){
    .login{
        float: left;
        text-align: center
    }
}
header img{
    width: 100px;
    height: 100px;
}
.index_IMG{
    margin-top:1.9em;
}
.index_Beschrijving{
    padding-top: 1.9em;
    color: #f6f6f6;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}
.footer{
    color: #000000;
    font-weight: bold;
 }
 .col-md-4{
     color: #f6f6f6;
     font-weight: bold;
     text-shadow: 2px 2px #000000;
 }
 .control-label{
     color: #f6f6f6;
     font-weight: bold;
     text-shadow: 2px 2px #000000;
 }

 /*///////////////////////////////BRON: https://codepen.io///////////////////////////*/
.play-off{
    display:flex;
    flex-direction:row;
    display: flex;
    justify-content: center;
}
.round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
    flex-grow:1;
}

/*
 *  General Styles
*/
.play-off{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
}

li.game{
    padding-left:20px;
}

li.game.winner{
    font-weight:bold;
}
li.game span{
    float: right;
    margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
}

li.game-bottom{
    border-top:1px solid #aaa;
}

/*==================POULES================= */
.poule_up{
    margin:50px 0 0 0;
    border:1px solid red;
    height: 300px;
}

.poule_up ul{
    padding:15px 15px;
}

.poule_down{
    margin:50px 0 150px 0;
    border:1px solid red;
    height: 300px;
}

.poule_down ul{
    padding:15px 15px;
}