body{
    /*Image get from: http://wallpaper-gallery.net/wallpapers/hd-football-wallpapers.html*/
    background-image: url("../img/bg4.png");
    background-size: cover;
    color: #FFF;
}

.wrapper{
    background-color: rgba(0,0,0,0.7);
    min-height: 85vh;
}

/*===============================nav============================*/
header img{
    width: 100px;
    height: 100px;
}

.navbar-inverse{
    background-color: #ff3f19;
    color: #000000;
}

.navbar-inverse .navbar-nav>li>a{
    color: #000;
}

.login {
    float: right;
}

/*===============================Home============================*/
.index_IMG{
    margin-top:1.9em;
}

/*===============================Play Off============================*/
 /*///////////////////////////////BRON: https://codepen.io///////////////////////////*/

.play-off{
    display:flex;
    flex-direction:row;
    display: flex;
    justify-content: center;
}
.round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
    flex-grow:1;
}

.play-off{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
}

li.game{
    padding-left:20px;
}

li.game.winner{
    font-weight:bold;
}
li.game span{
    float:right;
    margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
}

li.game-bottom{
    border-top:1px solid #aaa;
}
/*===============================Footer============================*/
footer {
    padding: 10px 0 5px 0;
    background-color: #ff3f19;
}
/*===============================Media Query============================*/
@media (max-width: 768px){
    .login{
        float: left;
        text-align: center
    }
}
